---
import MainLayout from '../layouts/HomepageLayout.astro';
import ProjectItem from '../components/ProjectItem.astro'; 
import Quotes from '../components/Quotes.astro'; 
import Introduction from '../components/Introduction.astro';
import Footer from '../components/Footer.astro';
import LargeParagraph from '../components/LargeParagraph.astro';
import WhatWeDo from '../components/WhatWeDo.astro';

interface Frontmatter {
  title: string;
  introduction: Introduction;
  footer: Footer;
  largeParagraph: LargeParagraphSection;
  quotes: QuotesSection;
  projects: ProjectsSection;
  whatwedo: WhatWeDoSection;
}

interface Introduction {
  id: string;
  introField1: string;
  introField2: string;
  media?: string;
}

interface LargeParagraphSection {
  id: string;
  type: 'largeParagraph';
  content: string;
}

interface WhatWeDoSection {
  id: string;
  type: 'whatwedo';
  pages: Page[];
}

interface Page {
  title: string;
  content: string;
  media1?: string;
  media2?: string;
  media3?: string;
  media4?: string;
  media1_description?: string;
  media2_description?: string;
  media3_description?: string;
  media4_description?: string;
  media1_css?: string;
  media2_css?: string;
  media3_css?: string;
  media4_css?: string;
}

interface QuotesSection {
  id: string;
  type: 'quotes';
  quotes: Quote[];
  additionalParagraph?: { content: string };
}

interface ProjectsSection {
  id: string;
  type: 'projects';
  projects: string[];
}

interface Footer {
  id: string;
  footerField1: string;
  footerField2: string;
  footerField3: string;
  media?: string;
}

interface Quote {
  quote: string;
  author: string;
}



interface Project {
  title: string;
  description: string;
  url: string;
  eyebrow: string;
  media?: string;
}

interface MarkdownFile {
  frontmatter: Frontmatter;
  default: any;
}

interface ProjectMarkdownFile {
  frontmatter: Project; 
  default: any;
}

const allPages = import.meta.glob<MarkdownFile>('../data/**/*.md', { eager: true });
const allProjects = import.meta.glob<ProjectMarkdownFile>('../data/projects/*.md', { eager: true });

const post = allPages['../data/home/home.md'];

// if (!post) {
//   console.error('Post not found');
// } else {
//   console.log('Post found:', post);
// }

const data = post?.frontmatter || { title: 'Home Page', sections: [] };
const Content = post?.default || 'Content not found.';

const projectsMap = Object.values(allProjects).reduce((map, project) => {
  map[project.frontmatter.title] = {
    title: project.frontmatter.title,
    eyebrow: project.frontmatter.eyebrow,
    description: project.frontmatter.description || '',
    url: `/projects/${project.frontmatter.title.toLowerCase().replace(/\s+/g, '-')}`,
    media: project.frontmatter.media || '',  
  };
  return map;
}, {} as Record<string, Project>);

function getCleanProjectName(url: string): string {
  return url.replace('/projects/', '');
}
const isHomePage = true;
---

<MainLayout 
  title={data.title} 
  isHomePage={isHomePage}
  

>


  <Introduction 
    introField1={data.introduction.introField1} 
    introField2={data.introduction.introField2} 
    media={data.introduction.media} 
    id={data.introduction.id}
  />

  <LargeParagraph 
  content={data.largeParagraph.content}
  id={data.largeParagraph.id}
  />

  <WhatWeDo 
  pages={data.whatwedo.pages}
  id={data.whatwedo.id}
  />

  <Quotes 
  quotes={data.quotes.quotes} 
  additionalParagraph={data.quotes.additionalParagraph}
  id={data.quotes.id} 
   />
  
   {data.projects.projects.map((projectTitle) => {
    const project = projectsMap[projectTitle];
    const cleanProjectName = getCleanProjectName(project.url);
  
    return (
      <section id={data.projects.id} >
      <ProjectItem
        title={project.title}
        description={project.description}
        url={project.url}
        eyebrow={project.eyebrow}
        media={project.media}
        cleanProjectName={cleanProjectName}
      />
      </section>
    );
  })}
  
  

  <Footer 
  footerField1={data.footer.footerField1}
  footerField2={data.footer.footerField2}
  footerField3={data.footer.footerField3}
  media={data.footer.media}
  id={data.footer.id}  
/>


</MainLayout>
