---
import MainLayout from '../layouts/HomepageLayout.astro';
import ProjectItem from '../components/ProjectItem.astro'; // Import the component

interface Frontmatter {
  title: string;
  sections: Section[];
  description?: string;
  media?: string; // Add media here

}

interface Section {
  type: string;
  field1?: string;
  field2?: string;
  content?: string;
  quotes?: Quote[];
  projects?: string[];
}

interface Quote {
  quote: string;
  author: string;
}

interface Project {
  title: string;
  description: string;
  url: string;
  media?: string; // Add media property to Project interface
}

interface MarkdownFile {
  frontmatter: Frontmatter;
  default: any;
}

const allPages = import.meta.glob<MarkdownFile>('../data/**/*.md', { eager: true });
const allProjects = import.meta.glob<MarkdownFile>('../data/projects/*.md', { eager: true });

const post = allPages['../data/home/home.md'];

if (!post) {
  console.error('Post not found');
} else {
  console.log('Post found:', post);
}

const data = post?.frontmatter || { title: 'Home Page', sections: [] };
const Content = post?.default || 'Content not found.';

const projectsMap = Object.values(allProjects).reduce((map, project) => {
  map[project.frontmatter.title] = {
    title: project.frontmatter.title,
    description: project.frontmatter.description || '',
    url: `/projects/${project.frontmatter.title.toLowerCase().replace(/\s+/g, '-')}`,
    media: project.frontmatter.media || '', // Add media to projectsMap
  };
  return map;
}, {} as Record<string, Project>);

function getCleanProjectName(url: string): string {
  return url.replace('/projects/', '');
}
const isHomePage = true;



---

<MainLayout title={data.title} isHomePage={isHomePage}>

  {data.sections.map((section) => {
    if (section.type === 'introduction') {
      return (
        <section class="h-screen bg-red-300/25">
          <h2>{section.field1}</h2>
          <p>{section.field2}</p>
        </section>
      );
    } else if (section.type === 'largeParagraph') {
      return (
        <section class="h-screen bg-blue-600/25">
          <p>{section.content}</p>
        </section>
      );
    } else if (section.type === 'quotes' && section.quotes) {
      return (
        <section class="h-screen bg-green-300/25">
          {section.quotes.map((quote) => (
            <blockquote>
              <p>"{quote.quote}"</p>
              <footer>— {quote.author}</footer>
            </blockquote>
          ))}
        </section>
      );
    } else if (section.type === 'projects' && section.projects) {
      return (
          <>
            {section.projects.map((projectTitle) => {
              const project = projectsMap[projectTitle];
              const cleanProjectName = getCleanProjectName(project.url); // Get clean project name

              return (
                <ProjectItem
                  title={project.title}
                  description={project.description}
                  url={project.url}
                  media={project.media}
                  cleanProjectName={cleanProjectName}
                />
              );
            })}
</>
          );
    }
  })}
</MainLayout>
