---
interface Props {
  imgSrc: string;
  cssOut: string;
  cssMid: string;
  cssInner: string;
  link: string;
  type: string;
  slug?: string; // Made optional
  altText: string;
  dataSpeed?: string; // Made optional
}

const { imgSrc, altText, dataSpeed, cssOut, cssMid, cssInner, slug, link, type } = Astro.props;
---

<div
  class={`${cssOut} cursor-pointer z-50`}
  {...(dataSpeed && { 'data-speed': dataSpeed })}  
  {...{ [type]: true }}  
  data-link
  data-sticky
>
  <div class={`${cssMid} `}>
    <div class={`${cssInner} `}>
      <a href={link} {...(slug && { 'data-project-name': slug })} class="h-full w-full flex items-center justify-center"> 
        <img src={imgSrc} alt={altText} />
      </a>
    </div>
  </div>
</div>