---
// ProjectItem.astro
import Media from '../components/Media.astro';

interface Props {
  title: string;
  description: string;
  url: string;
  media?: string;
  cleanProjectName: string;
}

const { title, description, url, media, cleanProjectName } = Astro.props;
---

<div class="relative h-screen case-study" data-content-section data-case-study id={cleanProjectName}>
  <div class="project-wrapper flex flex-col justify-end cursor-pointer" data-link data-play>


  <p class="eyebrow">eyebrow</p>
  <a href={url} data-project-name={cleanProjectName}><h3 class="project-header">{title}</h3></a>
  <p class="project-description">{description}</p>

  <!-- <a href={url} data-project-name={cleanProjectName}>{title}</a> -->

  <!-- <button data-link class="sm:hidden flex mt-8 cta-button">
    <span>Explore</span>
    <img src="${GLOBAL_SETTINGS.imagePaths.folder}icons/arrow-button.svg" alt="Button Image">
  </button> -->


  </div>
    
    {media && (
      <Media src={media} alt={title} cssClasses="absolute inset-0 z-[-1] w-full h-full object-cover" />
    )}

<!-- <div class="absolute inset-0 z-[-1]">   

    {media && media.endsWith('.mp4') ? (
      <video autoplay muted playsinline loop class="w-full h-full object-cover">
        <source src={media} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    ) : media ? (
      <img src={media} alt={title} class="w-full h-full object-cover" />
    ) : null}
  </div> -->
</div>
