---
// ProjectItem.astro

interface Props {
  title: string;
  description: string;
  url: string;
  media?: string;
  cleanProjectName: string;
}

const { title, description, url, media, cleanProjectName } = Astro.props;
---

<div class="relative h-screen" id={cleanProjectName}>
  <a href={url} data-project-name={cleanProjectName}>{title}</a>
  <p>{description}</p>
  <div class="absolute inset-0 z-[-1]">    
    {media && media.endsWith('.mp4') ? (
      <video autoplay muted playsinline loop class="w-full h-full object-cover">
        <source src={media} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    ) : media ? (
      <img src={media} alt={title} class="w-full h-full object-cover" />
    ) : null}
  </div>
</div>
