---
// ProjectItem.astro
import Media from '../components/Media.astro';

interface Props {
  title: string;
  description: string;
  eyebrow: string;
  url: string;
  media?: string;
  slug: string;

}

const { title, description, url, media, slug,eyebrow } = Astro.props;

// console.log(Astro.props)
---

<div class="relative h-screen case-study" data-content-section data-case-study id={slug}>
  <div class="project-wrapper flex flex-col justify-end cursor-pointer" data-link data-play>
  <p class="eyebrow">{eyebrow}</p>
  <a href={url} data-project-name={slug}><h3 class="project-header">{title}</h3></a>
  <p class="project-description">{description}</p>
  <button data-link class="sm:hidden flex mt-8 cta-button">
    <span>Explore</span>
    <img src="/images/arrow-button.svg" alt="{title}">
  </button>
  </div>
    {media && (
      <Media src={media} alt={title} cssClasses="absolute inset-0 z-[-1] w-full h-full object-cover" />
    )}
</div>
