---
// WhatWeDo.astro
import Media from '../components/Media.astro';

interface Page {
  title: string;
  content: string;
  media1?: string;
  media2?: string;
  media3?: string;
  media4?: string;
}

interface Props {
  pages: Page[];
  id: string;
}

const { pages, id } = Astro.props;

---

<section id={id} class=`relative h-[${pages.length}00vh] flex flex-col items-center text-center relative overflow-hidden bg-massgrey`>
  <!-- <ul class="what-we-do-nav">
  {pages.map((page, index) => (
      <li>{page.title}</li>
   
  ))}
 </ul> -->


    {pages.map((page, index) => (
<div class="what-we-do-sections flex-1">
  <h3 class="sub-header">{page.content}</h3>
        {/* {[page.media1, page.media2, page.media3, page.media4].map((media, i) => (
          media && (
            <>
                {media && (
                    <Media src={media} alt={`Media ${i + 1}`} cssClasses="w-16" />
                  )}
            </>
          )
        ))} */}
      </div>
    ))}
    <div class="what-we-do-logo">
      <img src="./images/1996.svg" alt="Mass Appeal 1996">
    </div>

</section>
