---
// WhatWeDo.astro
import Media from '../components/Media.astro';

interface Page {
  title: string;
  content: string;
  media1?: string;
  media2?: string;
  media3?: string;
  media4?: string;
  media1_description?: string;
  media2_description?: string;
  media3_description?: string;
  media4_description?: string;
  media1_css?: string;
  media2_css?: string;
  media3_css?: string;
  media4_css?: string;
}

interface Props {
  pages: Page[];
  id: string;
}

const { pages, id } = Astro.props;

const defaultClasses = ["default-a", "default-b", "default-c", "default-d"];
const defaultAltText = (index: number) => `Media ${index + 1}`;

// Function to convert **bold text** to a span with a custom class
function convertBoldToSpan(content) {
  return content.replace(/\*\*(.*?)\*\*/g, '<span class="line-through text-massblue">$1</span>');
}

---

<!-- bg-massgrey -->

<section id={id} data-slides data-bg-type="3" class="relative h-[100vh] flex flex-col items-center text-center overflow-hidden bg-massgrey">
  <ul class="what-we-do-nav">
    {pages.map((page, index) => (
      <li>
        <div>
          <span class="z-10" data-link>{page.title}</span>
          <div class="absolute inset-0 flex items-center">
            <div class="w-0 h-1 bg-massblue"></div>
          </div>
        </div>
      </li>
    ))}
  </ul>

  {pages.map((page, index) => (
    <aside class="h-screen flex items-center text-center absolute top-0">
      {/* <h3 class="sub-header" id={`test${index + 1}`}>{page.content}</h3> */}
      <h3 class="sub-header" id={`${id}-${index + 1}`} set:html={convertBoldToSpan(page.content)}></h3>

      {[page.media1, page.media2, page.media3, page.media4].map((media, i) => {
        if (!media) return null;

        const wrapperClasses = [
          "absolute w-[50%] h-[50vh] flex items-center",
          i === 0 ? "justify-left top-0 left-0" :
          i === 1 ? "justify-end top-0 right-0" :
          i === 2 ? "justify-left bottom-0 left-0" :
          "justify-end bottom-0 right-0"
        ].join(" ");

        const imageClasses = [
          page[`media${i + 1}_css`] || defaultClasses[i]
        ].join(" ");

        const altText = page[`media${i + 1}_description`] || defaultAltText(i);

        return (
          <div class={wrapperClasses}>
            <Media src={media} alt={altText} cssClasses={imageClasses} />
          </div>
        );
      })}
    </aside>
  ))}

  <div class="what-we-do-logo absolute bottom-0">
    <img src="./images/1996.svg" alt="Mass Appeal 1996">
  </div>
</section>
