---
import type { MarkdownInstance } from 'astro';
import MainLayout from './HomepageLayout.astro';
import Arrow from '../components/Arrow.astro';
import Media from '../components/Media.astro';

interface Frontmatter {
  title: string;
  date: string;
  description: string;
  media?: string;
}

interface ProjectPageProps {
  frontmatter: Frontmatter;
  Content: MarkdownInstance<Frontmatter>['default'];
}

const { frontmatter, Content } = Astro.props as ProjectPageProps;

function getCleanProjectName(title: string): string {
  return title.toLowerCase().replace(/\s+/g, '-');
}

const cleanProjectName = getCleanProjectName(frontmatter.title);

---

<MainLayout title={frontmatter.title}>
  <Arrow imgSrc="/images/x.svg" css="fixed top-8 right-8 xl:bottom-12 xl:right-12 3xl:bottom-24 3xl:right-24" altText="Close" />

  <section class="relative h-screen w-full" id={cleanProjectName}>
    <a href="/" data-project-name={cleanProjectName}>Close </a>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <div id={cleanProjectName} class="absolute inset-0 z-[-1]" >

      {frontmatter.media && (
        <Media src={frontmatter.media} alt={frontmatter.title} cssClasses="w-full h-full object-cover" />
      )}


  </div>
    <Content />
  </section>
</MainLayout>
