---
import type { MarkdownInstance } from 'astro';
import MainLayout from './Layout.astro';

interface Frontmatter {
  title: string;
  date: string;
  description: string;
  media?: string;
}

interface ProjectPageProps {
  frontmatter: Frontmatter;
  Content: MarkdownInstance<Frontmatter>['default'];
}

const { frontmatter, Content } = Astro.props as ProjectPageProps;

function getCleanProjectName(title: string): string {
  return title.toLowerCase().replace(/\s+/g, '-');
}

const cleanProjectName = getCleanProjectName(frontmatter.title);

---

<MainLayout title={frontmatter.title}>
  <article>
    <a href="/">Close </a>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <div id={cleanProjectName}>
    {frontmatter.media && frontmatter.media.endsWith('.mp4') ? (
    <video autoplay muted playsinline loop transition:persist transition:name={cleanProjectName}>
      <source src={frontmatter.media} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  ) : frontmatter.media ? (
    <img src={frontmatter.media} alt={frontmatter.title} />
  ) : null}
  </div>

    <Content />
  </article>
</MainLayout>
