---
import type { MarkdownInstance } from 'astro';
import MainLayout from './HomepageLayout.astro';

interface Frontmatter {
  title: string;
  date: string;
  description: string;
  media?: string;
}

interface ProjectPageProps {
  frontmatter: Frontmatter;
  Content: MarkdownInstance<Frontmatter>['default'];
}

const { frontmatter, Content } = Astro.props as ProjectPageProps;

function getCleanProjectName(title: string): string {
  return title.toLowerCase().replace(/\s+/g, '-');
}

const cleanProjectName = getCleanProjectName(frontmatter.title);


---

<MainLayout title={frontmatter.title}>
 
  <section>
    <div class="absolute top-0 left-0 z-10">
    <a href="/">Close </a>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
  </div>
    <div id={cleanProjectName} class="absolute top-0 left-0 z-0">
    {frontmatter.media && frontmatter.media.endsWith('.mp4') ? (
    <video autoplay muted playsinline loop transition:persist transition:animate="none" transition:name={cleanProjectName} >
      <source src={frontmatter.media} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  ) : frontmatter.media ? (
    <img src={frontmatter.media} alt={frontmatter.title} transition:persist transition:animate="none" transition:name={cleanProjectName} />
  ) : null}
  </div>

    <Content />
  </section>

</MainLayout>
